.container
  .row
    .col-lg-10.col-lg-offset-1
      .text-center
        %h2= t("activerecord.models.order") + t("views.edit")

      = render 'form'

      = link_to t("links.back"), orders_path, class: "btn btn-default"
