.container
  .row
    .col-lg-6.col-lg-offset-3
      .text-center
        %h1.title= t("activerecord.models.order") + t("views.edit")

      = render 'form'

    .col-lg-10.col-lg-offset-1.text-center
      / Map
      %section#contact.map
        %iframe{:frameborder => "0", :height => "100%", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :width => "100%", :src => "https://maps.google.com/maps?hl=ja&ie=UTF8&q=#{@order.address}&output=embed"}
