// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
    margin: 5% auto 10%;
}

.big {
    font-size: 200%;
}

.button {
    margin-top: 50px;
}